@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }
  /* Variables end */
  
html {
    scroll-behavior: smooth;
}
  
/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex!important;
    flex-basis: auto;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

nav h1 {
    color: var(--primary-color);
  }
  
nav a {
    color: var(--primary-color);
    transition: var(--transition);
}
nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

hr {
    border: none;
    padding: 1rem;
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.professional-photo {
    align-items: left;
    border-radius: 6px;
}

.logo {
    height: 100px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.drake-logo {
    height: auto;
    width: 100px;
    object-fit: contain;
}

.logo1 {
    max-height: 100px;
    width: 100px;
    object-fit: contain;
}

#research-poster {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bio {
    width: 25rem;
    padding: 0.625rem ;
    border-radius: 6px;
    box-shadow: 3px 3px 5px 2px var(--primary-shadow);
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.section {
    width: 80%;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 16px;
}

/* .box { */
/*     width: auto; */
/*     padding: 1rem; */
/*     border-radius: 6px; */
/*     box-shadow: 3px 3px 5px 2px var(--primary-shadow); */
/* } */

.box {
    margin-top: 25px;
    padding: 16px;
    border-spacing: 0 32px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 2px var(--primary-shadow);
    line-height: 1.4;
    display: flex;
    gap: 25px;
}

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0 2rem;
    line-height: 1.4;
}

td {
    padding: 1rem;
    text-align: left;
    vertical-align: top;
}

.logo-cell {
    width: 8%;
}

.bullet-list {
    list-style-position: outside;
    padding-left: 1rem;
}
